<h3>
	Want to know what type of posts your friends are posting? Are they mostly positive, negative, or somewhere in between? 
	Sentiment Analysis App can help you find out...
</h3>

<h4 id="link">
<%= link_to 'Try it out...', new_sentiment_path %>
</h4>